<h2 class="govuk-heading-s">Markdown guide</h2>
<p class="govuk-body-s b govuk-!-margin-bottom-1">Headings</p>
<p class="govuk-body-s">
    # Heading level 1<br>
    ## Heading level 2<br>
    ### Heading level 3<br>
    #### Heading level 4
</p>

<p class="govuk-body-s b govuk-!-margin-bottom-1">Linked text</p>
<p class="govuk-body-s">[gov home page] (https://www.gov.uk)</p>


<p class="govuk-body-s b govuk-!-margin-bottom-1">Character formatting</p>
<p class="govuk-body-s">
    *italic text*<br>
    **bold text**<br>
    ***bold and italic text***
</p>


<p class="govuk-body-s b govuk-!-margin-bottom-1">Ordered list</p>
<p class="govuk-body-s">1. First item<br>
            2. Second item<br>
            3. Third item</p>

<p class="govuk-body-s b govuk-!-margin-bottom-1">Unordered list</p>
<p class="govuk-body-s">
    - First item<br>
    - Second item<br>
    - Third item
</p>

<p class="govuk-body-s b govuk-!-margin-bottom-1">Inset text</p>
<p class="govuk-body-s">:::+<br>
    I am inset text<br>
    :::
</p>

<p class="govuk-body-s b govuk-!-margin-bottom-1">Details summary</p>
<p class="govuk-body-s">
    +++ Show content link<br>
    Hidden content<br>
    +++
</p>