<h2 class="govuk-heading-s">Markdown guide</h2>
<p class="govuk-body-s b govuk-!-margin-bottom-1">Headings</p>
<p class="govuk-body-s">## Heading level 2<br>
            ### Heading level 3<br>
            #### Heading level 4</p>

<p class="govuk-body-s b govuk-!-margin-bottom-1">Ordered list</p>
<p class="govuk-body-s">1. First item<br>
            2. Second item<br>
            3. Third item</p>

<p class="govuk-body-s b govuk-!-margin-bottom-1">Unordered list</p>
<p class="govuk-body-s">- First item<br>
            - Second item<br>
            - Third item</p>

<p class="govuk-body-s b govuk-!-margin-bottom-1">Linked text</p>
<p class="govuk-body-s">[gov home page](https://www.gov.uk)</p>

<p class="govuk-body-s b govuk-!-margin-bottom-1">Inset text</p>
<p class="govuk-body-s">> I am inset text</p>

<p class="govuk-body-s b govuk-!-margin-bottom-1">Character formatting</p>
<p class="govuk-body-s">
    This text is **bold**<br>
    This text is __bold__<br>
    This text is *italicised*<br>
    This text is _italicised_<br>
    This text is ***bold and italic***
</p>