{% extends "layout.html" %}

{% block pageTitle %}
  Document code - {{ serviceName }}
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Document codes",
      href: "/document_codes/"
    },
    {
      text: "Document code " + content.id,
      href: "/document_codes/edit/" + content.id
    },
    {
      text: content.action,
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            {{ govukPanel({
              titleText: content.message1,
              html: content.message2
            }) }}

            <h2 class="govuk-heading-m">Next steps</h2>

            <p class="govuk-body">
                <a class="govuk-link" href="/document_codes/edit/C640">View this document code</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link" href="/document_codes/">View all document codes</a>
            </p>

        </div>
    </div>

{% endblock %}