{% extends "layout.html" %}

{% block pageTitle %}
  Document code {{ content.id }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Document codes",
        href: "/document_codes/"
      },  
      {
        text: "Document code " + content.id,
        href: ""
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% if content.verb == "Approve change to" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ content.verb }} document code {{ content.id }}</h1>

        <h2 class="govuk-heading-m">Transaction details</h2>

        {{ govukTable({
          firstCellIsHeader: false,
          head: [
              {
              text: "Field",
              classes: "column1"
              },
              {
              text: "Value",
              classes: "column2"
              }
          ],
          rows: [
              [
              {
                  text: "Author"
              },
              {
                  text: "Josey Wales"
              }
              ],[
              {
                  text: "Date / time"
              },
              {
                  text: "12 Jan 21 14:13"
              }
              ]
          ]
          }) }}

        <h2 class="govuk-heading-m">Content details</h2>

        {{ govukTable({
          firstCellIsHeader: false,
          head: [
              {
              text: "Field",
              classes: "column1"
              },
              {
              text: "Old value",
              classes: "column3"
              },
              {
              text: "New value",
              classes: "column3"
              }
          ],
          rows: [
              [
                {
                    text: "Document code"
                },
                {
                    text: content.id
                },
                {
                    text: content.id
                }
              ],
              [
                {
                    text: "Document code overlay"
                },
                {
                    text: "Old lorem ipsum"
                },
                {
                    text: "New lorem ipsum"
                }
              ],
              [
                {
                    text: "Document code subtext"
                },
                {
                    text: "New lorem ipsum"
                },
                {
                    text: "Old lorem ipsum"
                }
              ],
              [
                {
                    text: "Link URL"
                },
                {
                    text: "https://www.oldlipsum.com"
                },
                {
                    text: "https://www.newlipsum.com"
                }
              ],
              [
                {
                    text: "Link text"
                },
                {
                    text: "Some old text"
                },
                {
                    text: "Some new text"
                }
              ],
              [
                {
                    text: "Document code overlay (Welsh)"
                },
                {
                    text: "Old llorem ipswm"
                },
                {
                    text: "New llorem ipswm"
                }
              ],
              [
                {
                    text: "Document code subtext (Welsh)"
                },
                {
                    text: "Old llorem ipswm"
                },
                {
                    text: "New llorem ipswm"
                }
              ],
              [
                {
                    text: "Link URL (Welsh)"
                },
                {
                    text: "https://www.oldlipswm.com"
                },
                {
                    text: "https://www.newlipswm.com"
                }
              ],
              [
                {
                    text: "Link text (Welsh)"
                },
                {
                    text: "Swm old text"
                },
                {
                    text: "Swm new text"
                }
              ]
              
          ]
          }) }}

        {{ govukTable({
          firstCellIsHeader: false,
          head: [
              {
              text: "Field",
              classes: "column1"
              },
              {
              text: "Old value",
              classes: "column3"
              },
              {
              text: "New value",
              classes: "column3"
              }
          ],
          rows: [
              [
                {
                    text: "Document code"
                },
                {
                    text: content.id
                },
                {
                    text: content.id
                }
              ],
              [
                {
                    text: "Document code overlay"
                },
                {
                    text: "Old lorem ipsum"
                },
                {
                    text: "New lorem ipsum"
                }
              ],
              [
                {
                    text: "Document code subtext"
                },
                {
                    text: "New lorem ipsum"
                },
                {
                    text: "Old lorem ipsum"
                }
              ],
              [
                {
                    text: "Link URL"
                },
                {
                    text: "https://www.oldlipsum.com"
                },
                {
                    text: "https://www.newlipsum.com"
                }
              ],
              [
                {
                    text: "Link text"
                },
                {
                    text: "Some old text"
                },
                {
                    text: "Some new text"
                }
              ],
              [
                {
                    text: "Document code overlay (Welsh)"
                },
                {
                    text: "Old llorem ipswm"
                },
                {
                    text: "New llorem ipswm"
                }
              ],
              [
                {
                    text: "Document code subtext (Welsh)"
                },
                {
                    text: "Old llorem ipswm"
                },
                {
                    text: "New llorem ipswm"
                }
              ],
              [
                {
                    text: "Link URL (Welsh)"
                },
                {
                    text: "https://www.oldlipswm.com"
                },
                {
                    text: "https://www.newlipswm.com"
                }
              ],
              [
                {
                    text: "Link text (Welsh)"
                },
                {
                    text: "Swm old text"
                },
                {
                    text: "Swm new text"
                }
              ]
              
          ]
          }) }}

        {{ govukButton({
            text: "Approve",
            href: "/document_codes/approved/" + content.id
        }) }}
        {{ govukButton({
            text: "Reject",
            classes: "govuk-button--secondary govuk-!-margin-left-1",
            href: "/document_codes/reject/" + content.id
        }) }}
      </div>
    </div>

  {% else %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ content.verb }} document code {{ content.id }}</h1>

        {{ govukTable({
          firstCellIsHeader: true,
          classes: "govuk-table--mx",
          caption: "About this document code",
          head: [],
          rows: [
            [
              {
                text: "Document code"
              },
              {
                text: content.id
              }
            ],
            [
              {
                text: "Description"
              },
              {
                text: "National Document: Firearms: Open individual licence or Specific individual licence. Nuclear materials open individual licence or specific individual licence"
              }
            ]
          ]
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class='govuk-heading-m'>{{ content.verb }} the document code</h1>
        {{ govukTextarea({
          name: "document-code-overlay-english",
          id: "more-detail",
          rows: 15,
          label: {
            text: "Document code description overlay",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          hint: {
            text: "You may override the document code description for display within complex measures."
          }
        }) }}

        {{ govukCheckboxes({
          idPrefix: "destinations",
          name: "destinations",
          fieldset: {
              legend: {
              text: "For which destinations is this document code overlay relevant?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
              }
          },
          hint: {
              text: "Some content may be appropriate to the entirety of the UK, while other content may need to be directed at either GB or Northern Ireland. Select all that apply."
          },
          items: [
              {
              value: "gb",
              text: "GB (England, Scotland and Wales)"
              },
              {
              value: "ni",
              text: "Northern Ireland"
              }
          ]
      }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Welsh content equivalents 
            </span>
          </summary>
          <div class="govuk-details__text">

            {{ govukTextarea({
              name: "document-code-overlay-welsh",
              id: "document-code-overlay-welsh",
              rows: 15,
              label: {
                text: "Document code description overlay (Welsh)",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              hint: {
                text: "Optionally, you may override the document code description for display within complex measures."
              }
            }) }}

          </div>
        </details>

        {% if content.locked %}
          <p class="govuk-body">
            <i class="fas fa-lock"></i>&nbsp;&nbsp;&nbsp;This record is locked for editing, as it has already been submitted into workflow.</p>
        {% else %}
          {{ govukButton({
          text: content.button_verb + " document code",
          href: "/document_codes/confirmation/" + content.id
        }) }}
        {% endif %}

      {% endif %}

    </div>
    <div class="govuk-grid-column-one-third">
      {% include "../includes/markdown.html" %}
    </div>
  </div>

{% endblock %}