{% extends "layout.html" %}

{% block pageTitle %}
  Document codes - {{ serviceName }}
{% endblock %}
{% block beforeContent %}

    {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Document codes",
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Document codes</h1>
            {{ govukInsetText({
                text: 'This page lists all of the document codes that are available to augment with user-centred content.
                Click on "Add overlay" to create new overlay content or on the "Edit" link to update existing content.'
            }) }}

            {{ govukTable({
  firstCellIsHeader: true,
  classes: "govuk-table--m",
  caption: "Current document codes",
  captionClasses: "govuk-table__caption--l",
  head: [
    {
      text: "ID"
    },
    {
      text: "Description"
    },
    {
      text: "Lock",
      classes: "c"
    },
    {
      text: "Scope"
    },
    {
      text: "Overlay text"
    },
    {
      text: "Overlay text (Welsh)"
    }
  ],
  rows: [
    [
      {
        rowspan: 2,
        text: "9100"
      },
      {
        rowspan: 2,
        html: "National Document: Firearms: Open individual licence or Specific individual licence.
        Nuclear materials open individual licence or specific individual licence<br><a href=''>Add overlay</a>",
        xhtml: "<a href='/document_codes/edit/9100'>National Document: Firearms: Open individual licence or Specific individual licence. Nuclear materials open individual licence or specific individual licence</a>"
      },
      {
        html: '<i class="fas fa-lock"></i>',
        classes: "c noborder"
      },
      {
        text: "NI",
        classes: "noborder"
      },
      {
        html: "English overlay text for NI version goes here",
        classes: "noborder"
      },
      {
        html: 'caniatâd bom a phelydr marwolaeth',
        classes: "noborder"
      }
    ],
    [
      {
        html: '',
        classes: "c"
      },
      {
        text: "GB"
      },
      {
        html: "English overlay text for GB version goes here<br><a href=''>Edit</a>&nbsp;|&nbsp;<a href=''>Delete</a>"
      },
      {
        html: 'caniatâd bom a phelydr marwolaeth'
      }
    ],
    [
      {
        text: "C640"
      },
      {
        html: "Common Health Entry Document for Animals (CHED-A) (as set out in Part 2, Section A of Annex II to Commission Implementing Regulation (EU) 2019/1715 (OJ L 261))",
        xhtml: "<a href='/document_codes/edit/C640'>Common Health Entry Document for Animals (CHED-A) (as set out in Part 2, Section A of Annex II to Commission Implementing Regulation (EU) 2019/1715 (OJ L 261))</a>"
      },
      {
        text: ""
      },
      {
        text: "GB, NI"
      },
      {
        html: "Lorem ipsum<br><a href=''>Edit</a>&nbsp;|&nbsp;<a href=''>Delete</a>"
      },
      {
        html: 'Llorem ipswm'
      }
    ],
    [
      {
        text: "C641"
      },
      {
        html: "Lorem ipsum dolor<br><a href=''>Add overlay</a>",
        xhtml: "<a href='/document_codes/edit/C641'>Lorem ipsum dolor</a>"
      },
      {
        text: ""
      },
      {
        text: "GB"
      },
      {
        html: "Lorem ipsum<br><a href=''>Edit</a>&nbsp;|&nbsp;<a href=''>Delete</a>"
      },
      {
        html: 'Llorem ipswm'
      }
    ],
    [
      {
        text: "C642"
      },
      {
        html: "Lorem ipsum dolor<br><a href=''>Add overlay</a>",
        xhtml: "<a href='/document_codes/edit/C641'>Lorem ipsum dolor</a>"
      },
      {
        text: ""
      },
      {
        text: ""
      },
      {
        text: ""
      },
      {
        html: ''
      }
    ],
    [
      {
        text: "C643"
      },
      {
        html: "Lorem ipsum dolor<br><a href=''>Add overlay</a>",
        xhtml: "<a href='/document_codes/edit/C641'>Lorem ipsum dolor</a>"
      },
      {
        text: ""
      },
      {
        text: ""
      },
      {
        text: ""
      },
      {
        html: ''
      }
    ]
  ]
}) }}

        </div>
    </div>

   

{% endblock %}