span.count {
    background-color: #33CCFF;
    color           : #fff;
    padding         : 0px 1em 0px 1em;
    border-radius   : 18px;
    margin-left     : 1em;
    font-size       : 16px;
}

.msg {
    font-style: italic;
    font-size : small;
    margin    : -1em 0px 0.5em 0px;
    color     : #039;
}

.nowrap {
    white-space: nowrap;
}

.nomargin {
    margin: 0px !important;
}

.r {
    text-align: right;
}

.c {
    text-align: center;
}

.l {
    text-align: left;
}

.govuk-table--m,
.govuk-table--m p {
    font-size: 16px;
}

.govuk-table--s,
.govuk-table--s p {
    font-size: 14px;
}

.govuk-table--s p,
.govuk-table--m p {
    margin-bottom: 0.5em;
}

.govuk-table--s p:last-of-type,
.govuk-table--m p:last-of-type {
    margin-bottom: 0.0em;
}

.column1 {
    width: 40%;
}

.column2 {
    width: 60%;
}

.govuk-table__caption--l {
    font-size: 19px;
}

.site_link {
    padding        : 0px 1em 0px 1em;
    border-radius  : 4px;
    font-size      : 12px;
    text-decoration: none;
    font-weight    : bold;
}

.blue {
    background-color: #0033cc;
    color           : #fff !important;

}

.red {
    background-color: #990000;
    color           : #fff !important;

}

@media (max-width: 40.0525em) {

    .govuk-table--m,
    .govuk-table--m p {
        font-size: 14px;
    }

    .govuk-table--s,
    .govuk-table--s p {
        font-size: 12px;
    }

    .govuk-table__caption--l {
        font-size: 16px;
    }

    .site_link {
        font-size: 10px;
    }
}