{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Measure types",
      href: "/measure_types/"
    },
    {
      text: "Measure type " + content.id,
      href: "/measure_types/edit/" + content.id
    },
    {
      text: content.action,
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            {{ govukPanel({
              titleText: content.message1,
              html: content.message2
            }) }}

            <h2 class="govuk-heading-m">Next steps</h2>

            <p class="govuk-body">
                <a class="govuk-link" href="/measure_types/edit/C640">View this measure type</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link" href="/measure_types/">View all measure types</a>
            </p>

        </div>
    </div>

{% endblock %}