{% extends "layout.html" %}

{% block pageTitle %}
  Measure types - {{ serviceName }}
{% endblock %}
{% block beforeContent %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Measure types",
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Measure types</h1>
      {{ govukInsetText({
                text: 'This page lists all of the measure types that are available to augment with user-centred content.
                Click on "Add overlay" to create new overlay content or on the "Edit" link to update existing content.'
            }) }}

      {{ govukTable({
  firstCellIsHeader: true,
  classes: "govuk-table--m",
  caption: "Current measure types",
  captionClasses: "govuk-table__caption--l",
  head: [
    {
      text: "ID"
    },
    {
      text: "Description"
    },
    {
      text: "Lock",
      classes: "c"
    },
    {
      text: "Scope"
    },
    {
      text: "Overlay text"
    },
    {
      text: "Overlay text (Welsh)"
    }
  ],
  rows: [
    [
      {
        text: "103"
      },
      {
        html: "Third country duty<br><a href=''>Add overlay</a>"
      },
      {
        html: '<i class="fas fa-lock"></i>',
        classes: "c"
      },
      {
        html: 'GB NI',
        classes: ""
      },
      {
        html: "The duty that is for third countries<br><a href=''>Edit</a>&nbsp;|&nbsp;<a href=''>Delete</a>"
      },
      {
        html: 'Y ddyletswydd sydd ar gyfer trydydd gwledydd'
      }
    ],
    [
      {
        text: "105"
      },
      {
        html: "Third country duty under authorised use<br><a href=''>Add overlay</a>"
      },
      {
        html: '',
        classes: "c"
      },
      {
        html: 'GB NI',
        classes: ""
      },
      {
        html: "Lorem ipsum<br><a href=''>Edit</a>&nbsp;|&nbsp;<a href=''>Delete</a>"
      },
      {
        html: 'Llorem ipswm'
      }
    ],
    [
      {
        text: "142"
      },
      {
        html: "Tariff preference<br><a href=''>Add overlay</a>"
      },
      {
        html: '',
        classes: "c"
      },
      {
        html: '',
        classes: ""
      },
      {
        text: ""
      },
      {
        html: ''
      }
    ],
    [
      {
        text: "475",
        rowspan: 2
      },
      {
        html: "Restriction on entry into free circulation<br><a href=''>Add overlay</a>",
        rowspan: 2
      },
      {
        html: '',
        classes: "c noborder"
      },
      {
        html: 'GB',
        classes: "noborder"
      },
      {
        html: "English text for the GB-specific overlay<br><a href=''>Edit</a>&nbsp;|&nbsp;<a href=''>Delete</a>",
        classes: "noborder"
      },
      {
        html: 'Welsh text for the GB-specific overlay',
        classes: "noborder"
      }
    ],
    [
      {
        html: '<i class="fas fa-lock"></i>',
        classes: "c"
      },
      {
        html: 'NI',
        classes: ""
      },
      {
        text: "English text for the GB-specific overlay"
      },
      {
        html: 'Welsh text for the GB-specific overlay'
      }
    ],
    [
      {
        text: "476"
      },
      {
        html: "Restriction on export<br><a href=''>Add overlay</a>"
      },
      {
        html: '',
        classes: "c"
      },
      {
        html: 'GB NI',
        classes: ""
      },
      {
        html: "Lorem ipsum<br><a href=''>Edit</a>&nbsp;|&nbsp;<a href=''>Delete</a>"
      },
      {
        html: 'Llorem ipswm'
      }
    ]
  ]
}) }}

    </div>
  </div>

{% endblock %}