{% extends "layout.html" %}

{% block pageTitle %}
  STW Workflow Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Main menu</h1>
    </div>
  </div>
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Content</h2>
      <p>
        <a href="/content/edit">Create new content</a>
      </p>
      <p>
        <a href="/content/">View existing content</a>
      </p>

      <h2 class="govuk-heading-m">Tariff entities</h2>
      {# <p>
        <a href="">Sections</a>
      </p>

      <p>
        <a href="">Chapters</a>
      </p>

      <p>
        <a href="">Commodity codes</a>
      </p> #}

      <p>Sections</p>
      <p>Chapters</p>
      <p>Commodity codes</p>


      <p>
        <a href="/measure_types/">Measure types</a>
      </p>

      <p>
        <a href="/document_codes/">Document codes</a>
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">My workstack</h2>
      <p class="govuk-body msg">This is a workstack for an approver</p>
      <p>
        <a href="/workstack.html">Show my workstack</a>
        <span class="count">5</span>
      </p>


      <h2 class="govuk-heading-m">My workstack</h2>
      <p class="govuk-body msg">This is a workstack for an editor</p>
      <p>
        <a href="/workstack_editor.html">Show my workstack</a>
        <span class="count">2</span>
      </p>
    </div>

  </div>

{% endblock %}