{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "My workstack",
      href: ""
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">My workstack</h1>
      <p>You have <span class="count nomargin">3</span> items awaiting your attention.</p>

      {{ govukTable({
  firstCellIsHeader: false,
  classes: "govuk-table--m",
  head: [
    {
      text: "Date / time"
    },
    {
      text: "Creator"
    },
    {
      text: "Activity"
    },
    {
      text: "Detail"
    },
    {
      text: "Action",
      classes: "r"
    }
  ],
  rows: [
    [
      {
        text: "12 Dec 20 14:20",
        classes: "nowrap"
      },
      {
        text: "Marvin Samuels"
      },
      {
        text: "Create step"
      },
      {
        text: "Eu nostrud id culpa voluptate minim duis eu occaecat velit officia aute ..."
      },
      {
        html: '<a href="/content/approve/1">View</a>',
        classes: "r"
      }
    ],
    [
      {
        text: "14 Dec 20 09:34",
        classes: "nowrap"
      },
      {
        text: "Bernice Wilkins"
      },
      {
        text: "Update measure type"
      },
      {
        text: "715 Export control - CITES"
      },
      {
        html: '<a href="">View</a>',
        classes: "r"
      }
    ],
    [
      {
        text: "14 Dec 20 09:34",
        classes: "nowrap"
      },
      {
        text: "Bessie Bentall"
      },
      {
        text: "Update document code"
      },
      {
        text: "C640 Common Veterinary Entry Document (CVED)"
      },
      {
        html: '<a href="/document_codes/approve/C640">View</a>',
        classes: "r"
      }
    ]
  ]
}) }}

    </div>
  </div>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">My workstack</h1>
      <p>There are no items awaiting your attention.</p>
    </div>
  </div>


{% endblock %}