{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "My workstack",
      href: ""
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Approver workstack</h1>
      <p>You have <span class="count nomargin">5</span> items awaiting your attention.</p>

      {{ govukTable({
  firstCellIsHeader: false,
  classes: "govuk-table--m",
  head: [
    {
      text: "Date / time"
    },
    {
      text: "Activity"
    },
    {
      text: "Creator"
    },
    {
      text: "Detail"
    },
    {
      text: "Action",
      classes: "r"
    }
  ],
  rows: [
    [
      {
        text: "12 Dec 20 14:20",
        classes: "nowrap"
      },
      {
        text: "Create step"
      },
      {
        text: "Marvin Samuels"
      },
      {
        html: "<b>Before you buy the goods - Step 45</b><br>Eu nostrud id culpa voluptate minim duis eu occaecat velit officia aute ..."
      },
      {
        html: '<a href="/content/approve/45/create">View</a>',
        classes: "r"
      }
    ],
        [
      {
        text: "13 Dec 20 14:20",
        classes: "nowrap"
      },
      {
        text: "Update step"
      },
      {
        text: "Lars Andreasson"
      },
      {
        html: "<b>Before you buy the goods - Step 44</b><br>Pellentesque nec risus sodales, facilisis sapien ut, tristique turpis"
      },
      {
        html: '<a href="/content/approve/44/update">View</a>',
        classes: "r"
      }
    ],
[
      {
        text: "14 Dec 20 14:20",
        classes: "nowrap"
      },
      {
        text: "Delete step"
      },
      {
        text: "Ellis Nemph"
      },
      {
        html: "<b>Before you buy the goods - Step 46</b><br>Aliquam erat volutpat. In hac habitasse platea dictumst"
      },
      {
        html: '<a href="/content/approve/46/delete">View</a>',
        classes: "r"
      }
    ],
    [
      {
        text: "15 Dec 20 09:34",
        classes: "nowrap"
      },
      {
        text: "Update measure type"
      },
      {
        text: "Bernice Wilkins"
      },
      {
        html: "<b>Measure type 715</b><br>Export control - CITES"
      },
      {
        html: '<a href="/measure_types/approve/103">View</a>',
        classes: "r"
      }
    ],
    [
      {
        text: "16 Dec 20 09:34",
        classes: "nowrap"
      },
      {
        text: "Update document code"
      },
      {
        text: "Bessie Bentall"
      },
      {
        html: "<b>Document code C640</b><br>Common Veterinary Entry Document (CVED)"
      },
      {
        html: '<a href="/document_codes/approve/C640">View</a>',
        classes: "r"
      }
    ],
    [
      {
        text: "17 Dec 20 09:34",
        classes: "nowrap"
      },
      {
        text: "Associate content with section"
      },
      {
        text: "Rick Maisie"
      },
      {
        html: "<b>Before you buy the goods - Step 45 / Section IV</b><br>Eu nostrud id culpa voluptate minim duis eu occaecat velit officia aute ..."
      },
      {
        html: '<a href="/document_codes/approve/C640">View</a>',
        classes: "r"
      }
    ],
    [
      {
        text: "18 Dec 20 09:34",
        classes: "nowrap"
      },
      {
        text: "Associate content with chapter"
      },
      {
        text: "Allan Maura"
      },
      {
        html: "<b>Before you buy the goods - Step 45 / Chapter 14</b><br>Eu nostrud id culpa voluptate minim duis eu occaecat velit officia aute ..."
      },
      {
        html: '<a href="/document_codes/approve/C640">View</a>',
        classes: "r"
      }
    ],
    [
      {
        text: "19 Dec 20 09:34",
        classes: "nowrap"
      },
      {
        text: "Associate content with commodity code"
      },
      {
        text: "Caroline Barrie"
      },
      {
        html: "<b>Before you buy the goods - Step 45 / Commodity code 0702000007</b><br>Eu nostrud id culpa voluptate minim duis eu occaecat velit officia aute ..."
      },
      {
        html: '<a href="/content/approve/45/commodity/070200007/associate">View</a>',
        classes: "r"
      }
    ],
    [
      {
        text: "20 Dec 20 09:34",
        classes: "nowrap"
      },
      {
        text: "Dissociate content from section"
      },
      {
        text: "Ember Ritter"
      },
      {
        html: "<b>Before you buy the goods - Step 45 / Section IV</b><br>Eu nostrud id culpa voluptate minim duis eu occaecat velit officia aute ..."
      },
      {
        html: '<a href="/document_codes/approve/C640">View</a>',
        classes: "r"
      }
    ],
    [
      {
        text: "21 Dec 20 09:34",
        classes: "nowrap"
      },
      {
        text: "Dissociate content from chapter"
      },
      {
        text: "Stan Lovell"
      },
      {
        html: "<b>Before you buy the goods - Step 45 / Chapter 14</b><br>Eu nostrud id culpa voluptate minim duis eu occaecat velit officia aute ..."
      },
      {
        html: '<a href="/document_codes/approve/C640">View</a>',
        classes: "r"
      }
    ],
    [
      {
        text: "22 Dec 20 09:34",
        classes: "nowrap"
      },
      {
        text: "Dissociate content from commodity code"
      },
      {
        text: "Karen Delgado"
      },
      {
        html: "<b>Before you buy the goods - Step 45 / Commodity code 0702000007</b><br>Eu nostrud id culpa voluptate minim duis eu occaecat velit officia aute ..."
      },
      {
        html: '<a href="/document_codes/approve/C640">View</a>',
        classes: "r"
      }
    ]
  ]
}) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Approver workstack</h1>
      <p>There are no items awaiting your attention.</p>
    </div>
  </div>

{% endblock %}