{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "My workstack",
      href: ""
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">My workstack</h1>
      <p>You have <span class="count nomargin">3</span> items awaiting your attention.</p>

      {{ govukTable({
  firstCellIsHeader: false,
  classes: "govuk-table--m",
  head: [
    {
      text: "Date / time"
    },
    {
      text: "Item"
    },
    {
      text: "Activity"
    },
    {
      text: "Action",
      classes: "r"
    }
  ],
  rows: [
    [
      {
        text: "12 Dec 20 14:20",
        classes: "nowrap"
      },
      {
        html: "<p><b>Create step</b></p><p>Eu nostrud id culpa voluptate minim duis eu occaecat velit officia aute ...</p>"
      },
      {
        html: "<p><b>Rejection</b> by Elspeth Marvin</p><p>Description provided doesn't make any sense.</p>"
      },
      {
        html: '<a href="/content/edit/1">View / edit</a><br><a href="/content/delete_edit/1">Delete draft</a>',
        classes: "r nowrap"
      }
    ],
    [
      {
        text: "13 Dec 20 14:20",
        classes: "nowrap"
      },
      {
        html: "<p><b>Update measure type</b></p><p><b>103</b> Third country duty</p>"
      },
      {
        html: "<p><b>Rejection</b> by Helen Inkstone</p><p>No, I don't like that.</p>"
      },
      {
        html: '<a href="/measure_type/edit/103">View / edit</a><br><a href="/measure_type/delete_edit/103">Delete draft</a>',
        classes: "r nowrap"
      }
    ],
    [
      {
        text: "14 Dec 20 14:20",
        classes: "nowrap"
      },
      {
        html: "<p><b>Update document code</b></p><p><b>C640</b> Common Health Entry Document for Animals (CHED-A) (as set out in Part 2, Section A of Annex II to Commission Implementing Regulation (EU) 2019/1715 (OJ L 261))</p>"
      },
      {
        html: "<p><b>Rejection</b> by Bella Cabot</p><p>No, I don't like that.</p>"
      },
      {
        html: '<a href="/measure_type/edit/103">View / edit</a><br><a href="/measure_type/delete_edit/103">Delete draft</a>',
        classes: "r nowrap"
      }
    ]
  ]
}) }}

    </div>
  </div>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">My workstack</h1>
      <p>There are no items awaiting your attention.</p>
    </div>
  </div>


{% endblock %}