{% extends "layout.html" %}

{% block pageTitle %}
  Content - {{ serviceName }}
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Content",
      href: "/content"
    },
    {
      text: content.verb + " content item " + content.id,
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ content.verb }} content item {{ content.id }}
            </h1>

            {% if content.verb == "Approve change to" %}

                <h2 class="govuk-heading-m">Transaction details</h2>

                {{ govukTable({
                    firstCellIsHeader: false,
                    head: [
                        {
                        text: "Field",
                        classes: "column1"
                        },
                        {
                        text: "Value",
                        classes: "column2"
                        }
                    ],
                    rows: [
                        [
                        {
                            text: "Author"
                        },
                        {
                            text: "Miriam Housego"
                        }
                        ],
                        [
                        {
                            text: "Date / time"
                        },
                        {
                            text: "12 Jan 21 14:13"
                        }
                        ],
                        [
                        {
                            text: "Action"
                        },
                        {
                            text: content.action | capitalise()
                        }
                        ]
                    ]
                    }) }}

                <h2 class="govuk-heading-m">Content details</h2>

                {{ govukTable({
                    firstCellIsHeader: false,
                    head: [
                        {
                        text: "Field",
                        classes: "column1"
                        },
                        {
                        text: "Value",
                        classes: "column2"
                        }
                    ],
                    rows: [
                        [
                        {
                            text: "ID"
                        },
                        {
                            text: content.id
                        }
                        ],
                        [
                        {
                            text: "Step title"
                        },
                        {
                            text: "Test data"
                        }
                        ],
                        [
                        {
                            text: "Explanatory text"
                        },
                        {
                            text: "Explanatory text"
                        }
                        ],
                        [
                        {
                            text: "URL"
                        },
                        {
                            text: "https://www.url.com"
                        }
                        ],
                        [
                        {
                            text: "Import heading / subheading"
                        },
                        {
                            text: "2. Prepare your import documents > Subheading"
                        }
                        ],
                        [
                        {
                            text: "Export heading / subheading"
                        },
                        {
                            text: "n/a"
                        }
                        ]
                    ]
                    }) }}

                {{ govukButton({
                    text: "Approve",
                    href: "/content/approved/" + content.id
                }) }}

                {% if content.action != "delete" %}
                    {# {{ govukButton({
                        text: "Amend",
                        classes: "govuk-button--secondary govuk-!-margin-left-1",
                        href: "/content/edit_elevated/" + content.id
                    }) }} #}
                {% endif %}
                {{ govukButton({
                    text: "Reject",
                    classes: "govuk-button--secondary govuk-!-margin-left-1",
                    href: "/content/reject/" + content.id
                }) }}

            {% else %}

                {{ govukTextarea({
                    name: "more-detail",
                    id: "more-detail",
                    rows: 3,
                    value: content.title,
                    label: {
                        text: "Step title",
                        classes: "govuk-label--s",
                        isPageHeading: false
                    },
                    hint: {
                        text: "This is the content which will be displayed in the step's hyperlink"
                    }
                }) }}

                {{ govukTextarea({
                    name: "more-detail",
                    id: "more-detail",
                    rows: 2,
                    value: content.explanatory_text,
                    label: {
                        text: "Explanatory text",
                        classes: "govuk-label--s",
                        isPageHeading: false
                    },
                    hint: {
                        text: "Optionally, add some explanatory text to advise users further"
                    }
                }) }}

                {{ govukTextarea({
                    name: "url",
                    id: "url",
                    rows: 2,
                    value: content.url,
                    label: {
                        text: "URL",
                        classes: "govuk-label--s",
                        isPageHeading: false
                    },
                    hint: {
                        text: "Please enter the full URL including the https://"
                    }
                }) }}

                {% if content.locked %}
                    <p class="govuk-body">
                        <i class="fas fa-lock"></i>&nbsp;&nbsp;&nbsp;This record is locked for editing, as it has already been submitted into workflow.</p>
                {% else %}
                    {% if content.privileges == "standard" or content.id == "" %}
                        {{ govukButton({
                        text: content.button_verb + " content item",
                        href: "/content/confirmation/" + content.id
                    }) }}
                    {% else %}
                        {{ govukButton({
                        text: content.button_verb + " content item",
                        href: "/content/confirmation_elevated/" + content.id
                    }) }}
                    {% endif %}
                {% endif %}
            {% endif %}

        </div>
    </div>

{% endblock %}