{% extends "layout.html" %}

{% block pageTitle %}
  Content - {{ serviceName }}
{% endblock %}
{% block beforeContent %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Content",
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Content</h1>

      {{ govukInsetText({
          html: "This page lists all of the content that can be assigned to the various objects in the Tariff.<br><br><a href='/content/create'>Create new content</a>"
      }) }}

      {{ govukTable({
      firstCellIsHeader: false,
      classes: "govuk-table--s",
      caption: "Current content",
      captionClasses: "govuk-table__caption--l",
      head: [
        {
          text: "Lock",
          classes: "c"
        },
        {
          text: "Page heading"
        },
        {
          text: "Content"
        },
        {
          text: "Priority",
            classes: "c"
        },
        {
          text: "Linked to"
        },
        {
          text: "Actions"
        }
      ],
      rows: [
        [
          {
            text: ""
          },
          {
            html: "Get your business ready for import"
          },
          {
            html: "Make sure you know what information you need to supply and the accompanying documents required to bring your goods into the country.
            Missing or inaccurate documents can increase risks, lead to delays and extra costs, or prevent your goods from crossing the border."
          },
          {
            text: "1",
            classes: "c"
          },
          {
            text: "Not restricted to any database entities"
          },
          {
            html: '<a href="/content/edit/1">View / edit content</a><br>
              <a href="/content/link/1">Add link to content</a><br>
              <a href="/content/delete/1">Delete content</a>',
            classes: "nowrap"
          }
        ],
        [
          {
            html: '<i class="fas fa-lock"></i>',
            classes: "c"
          },
          {
            html: "Get your business ready for import"
          },
          {
            html: "If you import goods into the UK, you may have to pay import VAT on your goods (https://www.gov.uk/guidance/vat-imports-acquisitions-and-purchases-from-abroad). How much VAT and Customs Duty you pay depends on the value of the goods you’re importing (https://www.gov.uk/guidance/how-to-value-your-imports-for-customs-duty-and-trade-statistics?step-by-step-nav=849f71d1-f290-4a8e-9458-add936efefc5). You may be also able to reduce the amount of duty you pay based on where the goods are from and what you plan to do with them."
          },
          {
            text: "1",
            classes: "c"
          },
          {
            text: "Not restricted to any database entities"
          },
          {
            html: '<a href="/content/edit/2">View content</a><br>
              <a href="/content/link/2">Add link to content</a><br>
              <!--<a href="/content/delete/2">Delete content</a>//-->',
            classes: "nowrap"
          }
        ]
      ]
    }) }}

    </div>
  </div>

{% endblock %}