{% extends "layout.html" %}

{% block pageTitle %}
  Link content - {{ serviceName }}
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Content",
      href: "/content"
    },
    {
      text: "Content item " + content.id,
      href: "/content/edit/" + content.id
    },
    {
      text: "Link content",
      href: ""
    }
  ]
}) }}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Link content item {{ content.id }} to section
            </h1>

            {{ govukTable({
              firstCellIsHeader: true,
              head: [],
              rows: [
                [
                  {
                    text: "Page heading"
                  },
                  {
                    html: "Prepare your business for importing"
                  }
                ],
                [
                  {
                    text: "Trader content - does not complete declarations"
                  },
                  {
                    html: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere molestie pulvinar. Nullam iaculis neque eget pretium laoreet. Suspendisse fringilla pharetra mattis. Morbi dictum odio a consequat sodales."
                  }
                ],
                [
                  {
                    text: "Trader content - completes declarations"
                  },
                  {
                    html: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere molestie pulvinar. Nullam iaculis neque eget pretium laoreet. Suspendisse fringilla pharetra mattis. Morbi dictum odio a consequat sodales."
                  }
                ],
                [
                  {
                    text: "Trade representative content"
                  },
                  {
                    html: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere molestie pulvinar. Nullam iaculis neque eget pretium laoreet. Suspendisse fringilla pharetra mattis. Morbi dictum odio a consequat sodales."
                  }
                ],
                [
                  {
                    text: "Priority"
                  },
                  {
                    html: "1"
                  }
                ]
              ]
            }) }}


{{ govukSelect({
  id: "section",
  name: "section",
  label: {
    text: "Select a section",
    classes: "govuk-label--s"
  },
  hint: {
    text: "Select from one of the available sections"
  },
  items: [
    {
      value: "0",
      text: "Please select"
    },
    {
      value: "1",
      text: "I: Live animals; animal products"
    }
  ]
}) }}


{{ govukButton({
  text: "Create link",
  href: "/content/link_confirmation/2"
}) }}

        </div>
    </div>

{% endblock %}